.toggle-form {
  cursor: pointer;
  color: rgb(148, 193, 255);
}

.input-block > input {
  background: #101010;
  color: rgb(255, 255, 255);
  border: solid 2px rgba(255, 255, 255, 0.393);
  padding: 8px;
  border-radius: 64px;
}

.input-block > input:focus {
  background: #282828;
  color: rgb(255, 255, 255);
  border: solid 2px rgb(255, 255, 255);
  padding: 8px;
  border-radius: 64px;
}


.input-block {
  display: flex;
  width: 380px;
  justify-content: space-between;
  margin: 8px;
}

.submit-button {
  border: none;
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  border-radius: 6px;
  padding: 12px;
  box-shadow: 5px 4px 11px rgba(0, 0, 0, 0.4);
  font-size: medium;
  min-width: 128px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #ffa351;
}