/* Стили для страницы продукта */
.product-page {
  margin-top: 20px;
  padding: 20px;
  background-color: #1e1d1d;
  border-radius: 18px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

/* Стили для изображений продукта */
.product-images {
  max-width: 700px;
  margin: 0 auto;
}

.product-images img {
  width: 256px;
  height: 256px;
  object-fit: cover;
  padding: 16px;
  border-radius: 25px;
}

/* Стили для информации о продукте */
.product-info {
  margin: 45px 0;
  display: flex;
  gap: 32px;
  align-items: flex-start;
  justify-content: space-between;
}

/* Стили для блока цены продукта */
.product-price-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

/* Стили для кнопки добавления в корзину */
.add-to-cart {
  margin-top: 20px;
  display: flex;
  justify-content: right;
  flex-direction: column;
}

.add-to-cart input {
  width: 50px;
  margin-left: 10px;
  background: #1e1d1d;
  color: rgb(255, 255, 255);
  border: solid 2px rgba(255, 255, 255, 0.393);
  padding: 12px;
  border-radius: 6px;
  margin-right: 10px;
}

.add-to-cart button {
  margin-top: 18px;
  border: none;
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  border-radius: 6px;
  padding: 12px;
  box-shadow: 5px 4px 11px rgba(0, 0, 0, 0.4);
  font-size: medium;
  min-width: 128px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.add-to-cart button:hover {
  background-color: #ffa351;
}

/* Стили для секции отзывов */
.reviews-section {
  margin-top: 40px;
}

/* Стили для отзыва */
.review {
  box-shadow: 2px 2px 8px #00000091;
  border-radius: 7px;
  padding: 4px 10px;
  background-color: #181817;
  margin-bottom: 20px;
}

.review p {
  margin: 5px 0;
}

/* Стили для кнопки назад */
.back-button {
  background: none;
  color: white;
  border: none;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Стили для секции добавления отзыва */
.add-review-section textarea {
  width: -webkit-fill-available;
  background: #1e1d1d;
  color: rgb(255, 255, 255);
  border: solid 2px rgba(255, 255, 255, 0.393);
  padding: 12px;
  border-radius: 6px;
  resize: none;
}

.add-review-section button {
  border: none;
  background-color: #d2d2d2;
  color: #313131;
  border-radius: 6px;
  padding: 7px;
  box-shadow: 5px 4px 11px rgba(0, 0, 0, 0.4);
  transition: background-color 0.2s;
  margin-top: 10px;
}

.add-review-section button:hover {
  background-color: #ffffff;
}
