.about-us-content {
  padding: 20px; /* Внутренние отступы для контента */
}

.map-container {
  width: 100%; /* Ширина контейнера карты */
  height: 400px; /* Высота контейнера карты */
  margin-top: 20px; /* Отступ сверху */
}
