:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #101010;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #ff9230; /* Основной акцентный цвет */
}

body {margin: 0;}

/* Медиа-запрос для изменения margin при ширине экрана больше 1480px */
.mid-block {
  margin-left: 10%;
  margin-right: 10%;
}

@media (min-width: 1480px) {
  .mid-block {
    margin-left: 20%;
    margin-right: 20%;
  }
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}