/* Стили для навбара */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 10%;
  border: solid 2px #5e5e5e;
  border-radius: 32px;
  padding: 12px;
}
/* Медиа-запрос для изменения margin при ширине экрана больше 1480px */
@media (min-width: 1480px) {
  .navbar {
    margin: 16px 20%;
  }
}

.nav-left,
.nav-right {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем отступы */
  margin: 0; /* Убираем внешние отступы */
  display: flex; /* Используем flexbox для выравнивания элементов внутри */
}

.nav-left li,
.nav-right li {
  margin: 0 10px; /* Отступы между элементами */
}

.navbar a {
  text-decoration: none; /* Убираем подчеркивание */
  color: inherit; /* Устанавливаем цвет текста по умолчанию */
}

.navbar li {
  transition: color 0.1s ease, text-shadow 0.1s ease; 
}
.navbar li:hover {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0px white;
}

/* Подчеркивание текущей страницы */
.current {
  border-bottom: 2px solid var(--accent-color);
  display: inline;
}